
.container {
  width: 100%;
  height: 100%;
}

.canvas {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.is-vcentered{
display: flex;
vertical-align: middle;
justify-content: space-between;
}

p.subtitle{
  display: flex ;
  align-items: flex-end;
}